.try-section {
  background-image: url("/images/eye.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;

  padding: 120px;
  color: white;
  text-align: center;
}

.section-title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 48px;
}

.try-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;

  a {
    display: block;
    color: white;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;

    
    &.primary {
      background-color: #fff;
      color: #000;
    }

    &:hover {
      scale: 1.05;
    }
  }
}

.home-section {
  padding: 80px 9.375vw;
  
  h1 {
    font-size: 36px;
    margin-bottom: 16px;
  }

  h3 {
    display: block;
    color: #737373;
    font-size: 20px;
    font-weight: 500;
  }
}

.learn-more {
  margin-top: 40px;
  display: inline-block;
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #000;
  border: 2px solid #000;
  transition: 0.3s;
  margin-bottom: 80px;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.feedback-section {

}

.feedback-container {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  margin-bottom: 40px;

  .feedback-card {
    width: 500px;
    height: 190px;
    padding: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    display: flex;
    gap: 24px;
    flex-direction: column;

    &__user {
      display: flex;
      flex-direction: row;

      &-avatar {
        width: 48px;
        height: 48px;
        margin-right: 16px;
      }

      &-cred {
        display: flex;
        flex-direction: column;
        gap: 4px;
        height: 48px;
        justify-content: space-evenly;
      }

      &-location {
        color: #737373;
      }
    }
  }
}