.try-section {
  background-image: url("/images/eye.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;

  padding: 120px;
  color: white;
  text-align: center;
}

.section-title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 48px;
}

.try-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;

  a {
    display: block;
    color: white;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;

    
    &.primary {
      background-color: #fff;
      color: #000;
    }

    &:hover {
      scale: 1.05;
    }
  }
}

.home-section {
  padding: 80px 9.375vw;
  
  h1 {
    font-size: 36px;
    margin-bottom: 16px;
  }

  h3 {
    display: block;
    color: #737373;
    font-size: 20px;
    font-weight: 500;
  }
}

.learn-more {
  margin-top: 40px;
  display: inline-block;
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #000;
  border: 2px solid #000;
  transition: 0.3s;
  margin-bottom: 80px;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.feedback-section {

}

.feedback-container {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  margin-bottom: 40px;

  .feedback-card {
    width: 500px;
    height: 190px;
    padding: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    display: flex;
    gap: 24px;
    flex-direction: column;

    &__user {
      display: flex;
      flex-direction: row;

      &-avatar {
        width: 48px;
        height: 48px;
        margin-right: 16px;
      }

      &-cred {
        display: flex;
        flex-direction: column;
        gap: 4px;
        height: 48px;
        justify-content: space-evenly;
      }

      &-location {
        color: #737373;
      }
    }
  }
}

.dignities-section {
  padding: 120px 9.375vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;

  .dignities-card {
    width: 320px;
    height: 500px;
    background-color: #f2f2f2;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    &__content {
      padding: 32px;
    }

    &__title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    &__description {
      font-size: 18px;
      font-weight: 500;
      color: #737373;
      line-height: 145%;
    }

    &__img {
      width: 100%;
    }
  }
}

.pricing-section {
  padding: 120px 9.375vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;

  .pricing-card {
    width: 340px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 32px 24px;

    &__desc {
      margin-bottom: 32px;
    }

    &__name {
      font-size: 20px;
      font-weight: 600;
    }

    &__for {
      font-size: 18px;
      font-weight: 500;
      color: #737373;
    }

    &__price {
      margin-bottom: 32px;

      h1 {
        display: inline-block;

        font-size: 36px;
        font-weight: bold;
      }

      p {
        display: inline-block;
        color: #737373;
      }
    }

    &__features-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 32px;
    }

    &__feature {
      position: relative;
      padding-left: 32px;
      
      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        height: 1em;
        content: "";
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNkw1LjI0NTcxIDEwLjU0ODhDNS40NjI2MyAxMC43ODEyIDUuODM4NTMgMTAuNzU0OCA2LjAyMDg1IDEwLjQ5NDNMMTIuNjY2NyAxIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utb3BhY2l0eT0iMC41NSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    &__btn {
      outline: none;
      cursor: pointer;
      width: 100%;
      padding: 11px 14px;
      font-size: 18px;
      border: 2px solid #737373;
      border-radius: 12px;
      background-color: transparent;
      transition: 0.3s;

      &:hover {
        border: 2px solid #000;
        background-color: #000;
        color: #fff;
      }
    }
  }
}