@import "reset.css";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', serif;
  height: 100%;
}

a {
  text-decoration: none;

  color: #000;
}