#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > main {
    flex: 1 0 auto;
  }

  > footer {
    flex: 0 0 auto;
  }
}


.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 145%;
  padding: 32px 9.375vw;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 32px;

  a {
    color: #737373;

    &:hover {
      color: #000;
    }
  }
}