#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > main {
    flex: 1 0 auto;
  }

  > footer {
    flex: 0 0 auto;
  }
}


.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 145%;
  padding: 32px 9.375vw;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 32px;

  a {
    color: #737373;

    &:hover {
      color: #000;
    }
  }
}

.footer {
  height: 400px;
  padding: 80px 9.375vw 120px 9.375vw;
  background-image: url("/images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-column {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 24px;

      &--title {
        font-size: 24px;
        font-weight: 500;
      }
    }
    
    &__link {
      font-size: 16px;
      line-height: 145%;
      color: #fff;
      opacity: 0.6;
    }
  }
}
